// 
// Global
// 

body {
    padding-top: $navbar-base-height;
    color: $gray-600;
}

@include media-breakpoint-up(lg) {
    body {
        padding-top: 0;
        padding-left: $sidebar-base-width;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

h1 {
    line-height: 1;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}

.subheading {
    font-family: $headings-font-family;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
}
/* Back to top button */
#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  background: $primary;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 14px;
  font-size: 18px;
  cursor: pointer;
  z-index: 999;
}

/* Dark mode */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode a {
  color: #90caf9;
}

